<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/user/signup/index.css">
</head>
<body>
<main layout:fragment="main" class="container w:8 d:flex fl-dir:column gap:8 md:gap:13 pl:4 pr:4 md:pl:0 md:pr:0">
    <section class="mt:10 d:flex fl-dir:column gap:8">
        <h1 class="d:none">회원가입 메인</h1>
        <div class="d:flex fl-dir:row ai:center jc:center">
            <span class="deco deco-size:5 icon-size:5 deco-position:right icon:carrot icon-color:main-5 fw:3 fs:7">기농이네 회원가입</span>
        </div>
        <button class="n-btn n-btn-size:2 fw:3 fs:3 md:fs:6 min-w:3 w:10p"><a href="">회원가입</a></button>
    </section>
    <section class="d:flex fl-dir:row gap:8 ai:center jc:center">
        <h1 class="d:none">개인정보 찾기</h1>
        <div><a href="">아이디 찾기</a></div>
        <div><a href="">비밀번호 찾기</a></div>
    </section>
    <section class="d:flex fl-dir:column gap:10 ai:center jc:center">
        <h1 class="d:none">소셜 회원가입</h1>
        <div class="social-signup w:10p gap:4">
            <a href="" class="kakao fs:3 md:fs:6">카카오로 회원가입</a>
            <a href="" class="naver fs:3 md:fs:6">네이버로 회원가입</a>
            <a href="" class="google fs:3 md:fs:6">구글로 회원가입</a>
            <a href="" class="apple fs:3 md:fs:6">애플로 회원가입</a>
        </div>
    </section>

</main>

</body>
</html>