<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="inc/user/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>기농이네 - 순수한 땅, 순수한 먹거리</title>
    <script src="/js/user/signup/step3.js"></script>
</head>
<body>
<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:13 max-w:9 w:10p pl:4 pr:4 md:pl:0 md:pr:0">
    <section>
        <h1 class="d:none">navi 영역</h1>
        <div class="n-item n-item-type:underline bd-color:main-6 fs:4 txt-al:center fw:bold">회원가입</div>
    </section>

    <section class="d:flex jc:center gap:4">
        <h1 class="d:none">step 영역</h1>
        <div class="n-item n-item-type:outline-box fs:4 txt-al:center bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center" style="width: 21px; height: 21px;"><span>1</span></div>
        <div class="n-item n-item-type:outline-box fs:4 txt-al:center bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center" style="width: 21px; height: 21px;"><span>2</span></div>
        <div class="n-item n-item-type:outline-box fs:4 txt-al:center bd-radius:full n-list-item-padding:1 ai:center d:flex jc:center bg-color:main-6" style="width: 21px; height: 21px;"><span class="color:base-1">3</span></div>
    </section>
    <section>
        <h1 class="d:none">회원정보 입력 영역</h1>
        <form method="post" name="member" class="d:flex fl-dir:column gap:10 md:gap:17 mb:8">
            <div class="pos:relative">
                <div>아이디<span class="color:accent-3">*</span></div>
                <div>
                    <input type="text" name="userNm" class="n-textbox n-textbox-type:underline required" placeholder="영문 소문자, 숫자 (5~20자리)" autofocus  autocomplete="false"/>
                    <span class="check d:none color:main-6 pos:absolute right:0 txt-al:right bg-color:base-1" style="top:25px;">[ 사용가능 ]</span>
                </div>
                <div class="userNm d:none color:accent-3 mt:2">아이디를 입력해주세요</div>
                <div class="format d:none color:accent-3 mt:2">5~20자의 영문 소문자와 숫자만 사용 가능해요.</div>
            </div>
            <div class="pos:relative">
                <div> 비밀번호<span class="color:accent-3">*</span></div>
                <div>
                    <input type="password" name="pwd" class="n-textbox n-textbox-type:underline required" placeholder="영문 대소문자, 숫자 (7자리 이상)" />
                    <span class="check d:none color:main-6 pos:absolute right:0 txt-al:right bg-color:base-1" style="top:25px;">[ 사용가능 ]</span>
                </div>
                <div class="pwd d:none color:accent-3 mt:2">비밀번호를 입력해주세요</div>
                <div class="format d:none color:accent-3 mt:2">영문 대소문자, 숫자를 조합하여 7자리 이상 입력해주세요.</div>
            </div>
            <div class="pos:relative">
                <div>비밀번호 재확인<span class="color:accent-3">*</span></div>
                <div>
                    <input type="password" name="check" class="n-textbox n-textbox-type:underline required" />
                    <span class="check d:none fw:500 color:sub-5 pos:absolute right:0 txt-al:right bg-color:base-1" style="top:25px;">[ 일치 ]</span>
                </div>
                <div class="check d:none color:accent-3 mt:2">비밀번호 재확인을 해주세요</div>
            </div>
            <div class="d:flex gap:3 fl-dir:column" >
                <div>가입경로<span class="color:accent-3">*</span></div>
                <div class="d:flex jc:space-between gap:2">
                    <div th:each="r:${routeList}">
                        <label class="n-toggle n-toggle-type:outline-box ai:center jc:center ac:center md:w:4 w:2 md:h:2">
                            <input type="radio" class="d:none" name="joinRtCd" th:value="${r.detailCd}" th:text="${r.detailNm}" >
                        </label>
                    </div>
                </div>
                <div class="joinRtCd d:none color:accent-3 mt:2">가입 경로를 선택해주세요</div>
            </div>
            <div class="pos:relative">
                <div>추천인 아이디</div>
                <div>
                    <input type="text" name="ref" class="n-textbox n-textbox-type:underline"/>
                    <input type="hidden" name="refNo" class="n-textbox n-textbox-type:underline"/>
                    <span class="check d:none color:main-6 pos:absolute right:0 txt-al:right bg-color:base-1" style="top:25px;">[ 확인 ]</span>
                </div>
            </div>
            <div class="d:flex gap:8">
                <div class="fl-grow:1"><a href="javascript:history.back()" class="n-btn n-btn:outline w:10p">이전</a></div>
                <div class="fl-grow:1"><button type="submit" class="submit n-btn w:10p" >다음</button></div>
            </div>
        </form>
    </section>
</main>
</body>
</html>