<!doctype html>
<html lang="ko">
    <aside class="aside n-drawer n-drawer-position:left d:flex fl-dir:column gap:6 " style="z-index: 1000">
        <div class="d:flex jc:space-between  p:4">
            <h1 class="fw:3 fs:3 as:center">전체메뉴</h1>
            <div class="icon icon:caret_left icon-size:2">닫기 아이콘</div>
        </div>
        <ul class="d:flex fl-dir:column gap:1 bg-color:base-1">
            <li><a href="product/list?c=1">과채</a></li>
            <li><a href="product/list?c=2">양념</a></li>
            <li><a href="product/list?c=3">가공식품</a></li>
            <li><a href="/notice/list">공지사항</a></li>
            <li><a href="/mypage/index">마이페이지</a></li>
            <li><a href="/order/list">주문내역</a></li>
            <li><a href="/order/list">후기</a></li>
            <li><a href="/order/list">적립금</a></li>
            <li><a href="/order/list">쿠폰</a></li>
            <li><a href="/recents/list">최근 본 상품</a></li>
            <li><a href="/inquiry/faq">고객센터</a></li>
        </ul>
    </aside>
</html>