<!DOCTYPE html>
<html lang="ko">
<nav class="category d:none md:d:flex jc:center w:10p top:3 pos:sticky bg-color:base-1 zi:2">
  <h1 class="d:none">PC 카테고리</h1>
  <ul class="n-tabbar d:flex h:4 max-w:10 jc:space-between fl-grow:1">
    <li class="h:10p" th:classappend="${{param.c}}=='P01' ? 'active'">
      <a href="/prd/list?c=P01" class="h:10p fs:3"
         th:classappend="${{param.c}}=='P01' ? 'fw:3'" th:data-id=1>과일/채소류</a>
    </li>
    <li class="h:10p"  th:classappend="${{param.c}}=='P02' ? 'active'">
      <a href="/prd/list?c=2" class="h:10p fs:3"
         th:classappend="${{param.c}}=='P02' ? 'fw:3'" th:data-id=1>양념/장류</a>
    </li>
    <li class="h:10p"  th:classappend="${{param.c}}=='P03' ? 'active'">
      <a href="/prd/list?c=3" class="h:10p fs:3"
         th:classappend="${{param.c}}=='P03' ? 'fw:3'" th:data-id=1>반찬/가공식품류</a>
    </li>
    <li class="h:10p" th:classappend="${active}=='order' ? 'active' : ''">
      <a href="/order/list" class="fs:3 h:10p"
         th:classappend="${active}=='order' ? 'fw:3': ''">
        주문 내역
      </a>
    </li>
    <li class="h:10p" th:classappend="${active}=='notice' ? 'active' : ''">
      <a href="/notice/list" class="fs:3 h:10p"
         th:classappend="${active}=='notice' ? 'fw:3': ''">
        공지사항
      </a>
    </li>
    <li class="h:10p" th:classappend="${active}=='faq' ? 'active' : ''">
      <a href="/faq" class="fs:3 h:10p"
         th:classappend="${active}=='faq' ? 'fw:3': ''">
        고객센터
      </a>
    </li>
  </ul>
</nav>
</html>