<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<header class="header w:10p d:flex max-w:10 jc:center h:5 md:h:6 bg-color:base-1 top:1 pos:sticky zi:3">
    <div class="d:flex jc:space-between h:5 md:h:6 bd-bottom bd-color:base-2 fl-grow:1 mr:4 ml:4 md:mr:0 md:ml:0">
        <h1 class="d:none ai:center md:d:flex"><a href="/index">
            <img src="/img/logo-leaf.png" width="120" height="80.77" class="d:none"/>
            <img src="/img/logo-hat.png" width="120" height="70.41" class="d:inline"/>
        </a>
        </h1>

        <div class="d:flex ai:center md:d:none"><a href="javascript:history.back()" class="icon icon:caret_left icon-size:5">뒤로가기</a></div>

        <div class="d:flex ai:center fs:4 fw:3 md:d:none" th:text="${pageName}">페이지명</div>

        <div class="d:flex fl-dir:column ac:center jc:center gap:2">
            <nav class="d:none md:d:flex ai:center">
                <h1 class="d:none">top</h1>
                <ul class="d:flex gap:3">
                    <li sec:authorize="isAnonymous()">
                        <a href="/signin" class="color:main-6 fw:3">로그인</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <span class="user color:main-6 fw:3" th:text="${#authentication.name}"> 유저아이디</span>
                        <span class="fw:3"> 님</span>
                        <a href="/logout" class="color:main-6 fw:3">로그아웃</a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a href="/signup/step1" class="color:main-6 fw:3">회원가입</a>
                    </li>
                </ul>
            </nav>

            <nav class="d:flex ">
                <h1 class="d:none">down</h1>
                <ul class="d:flex gap:3 pos:relative">
                    <li><a href="#" class="icon icon:magnifying_glass icon-size:5">검색</a></li>
                    <li class="d:none md:d:block"><a href="/mypage/index" class=" icon icon:user icon-size:5">마이페이지</a>
                    </li>
                    <li>
                        <a href="/cart" class="icon icon:shopping_cart_simple icon-size:5">장바구니</a>
                        <span class="cart-circle d:none">1</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
</html>