<!DOCTYPE html>
<html lang="ko">
<section class="navi d:flex max-w:9 w:10p bg-color:base-1 bottom:1 pos:sticky bd-top bd-color:base-2 md:bd-color:base-1">
    <h1 class="d:none">버튼</h1>
    <div class="d:flex gap:15 m:4 md:mr:0 md:ml:0 w:10p">
        <button form="order" name="all" value="false" class="n-btn btn-size:2 n-btn-type:outline fl-grow:1">선택상품주문</button>
        <button form="order" name="all" value="true" class="n-btn btn-size:2 fl-grow:1" >전체상품주문</button>
    </div>
</section>
</html> 