<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/inc/layout-back">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기농이네 관리자</title>
    <script src="/js/admin/coupon/detail.js" defer></script>
</head>

<body>
<main layout:fragment="main" class="d:flex fl-dir:column gap:20 max-w:9 w:10p pl:4 pr:4 pt:4 md:pl:0 md:pr:0 md:pb:4">
    <div class="d:none md:d:flex w:10p jc:center fw:3 fs:4">쿠폰 상세</div>

    <section class="w:10p">
        <h1 class="d:none">쿠폰 상세</h1>

        <div class="n-form:outline-none d:flex fl-dir:column gap:8 md:gap:13 h:10p">
            <!-- 쿠폰 카테고리 -->
            <div id="coupon-category" class="n-dropdown category w:5">
                <button type="button" class="dropdown-btn n-btn n-btn:outline w:10p ai:center jc:space-between icon icon:RT icon-size:1 icon-color:main-6 deco-pos:right"
                        @click.prevent="clickCouponDropdown()" disabled>
                    <span class="fl:fill">{{ getCouponCategoryName() }}</span>
                </button>
                <ul :class="
                        [   
                            showCouponDropdown ? 'active' : '',
                            'dropdown-list w:10p'
                        ]" >
                    <li class="d:flex jc:center p:1" v-for="c of couponCategory"
                        @click.prevent="clickCouponDropdownElement(c)">{{ c.name }}</li>
                </ul>
            </div>

            <div class="d:flex fl-dir:column gap:2">
                <div>쿠폰 이름</div>
                <input type="text" class="n-textbox n-textbox-type:underline" name="title" v-model="coupon.name" readonly="readonly"/>
            </div>

            <div class="d:flex fl-dir:column gap:2">
                <div>할인율/금액</div>
                <div>
                    <div class="d:flex gap:3">
                        <input type="text" class="n-textbox n-textbox-type:underline" name="rate" v-model="coupon.discountAmount" readonly="readonly" />
                        <!-- 할인율 카테고리? -->
                        <div id="discount-category" class="n-dropdown category w:5">
                            <button type="button" class="dropdown-btn n-btn n-btn:outline w:10p ai:center jc:space-between icon icon:RT icon-size:1 icon-color:main-6 deco-pos:right"
                                    @click.prevent="clickUnitDropdown()" disabled>
                                <span class="fl:fill">{{ getUnitCategoryName() }}</span>
                            </button>
                            <ul :class="
                                    [
                                        showUnitDropdown ? 'active' : '',
                                        'dropdown-list w:10p'
                                    ]" >
                                <li class="d:flex jc:center p:1" v-for="c of discountCategory"
                                    @click.prevent="clickUnitDropdownElement(c)">{{ c.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d:flex fl-dir:column gap:2">
                <div>최소 구매 금액</div>
                <input type="text" class="n-textbox n-textbox-type:underline" name="rate" v-model="coupon.minPaymentAmt" readonly="readonly"/>
            </div>

            <div class="d:flex fl-dir:column gap:2">
                <div>최대 할인 금액</div>
                <input type="text" class="n-textbox n-textbox-type:underline" name="rate" v-model="coupon.maxDiscountAmt" readonly="readonly"/>
            </div>

            <div class="d:flex fl-dir:column gap:2">
                <div>사용 가능 기한</div>
                <div class="d:flex fl-dir:row gap:2 ai:center">
                        <input type="date" class="n-textbox n-textbox-type:underline" name="starDate"
                               required title="쿠폰 사용 게시일을 선택해주세요" v-model="coupon.startDate" readonly="readonly">
                        <span>-</span>
                        <input type="date" class="n-textbox n-textbox-type:underline" name="endDate"
                               required title="쿠폰 만료일을 선택해주세요" v-model="coupon.endDate" readonly="readonly">
                </div>
            </div>

            <div class="d:flex fl-dir:column gap:2">
                <div>쿠폰 발급 수</div>
                <input type="text" class="n-textbox n-textbox-type:underline" name="release_date" v-model="coupon.releaseAmount" readonly="readonly"/>
            </div>

            <div class="d:flex fl-dir:column gap:2">
                <div>쿠폰 사용 수</div>
                <input type="text" class="n-textbox n-textbox-type:underline" name="rate" readonly="readonly"/>
            </div>

            <div class="d:flex fl-dir:column gap:2">
                <span>상세 설명</span>
                <input type="text" class="n-textbox min-h:6" name="desc" value="쿠폰 상세 설명" v-model="coupon.desc" readonly="readonly"/>
            </div>

            <div class="d:flex flex-direction:row gap:4">
                <span class="d:flex ai:center">상태</span>
                <input type="checkbox" class="n-toggle n-toggle-type:slide" name="state" v-model="coupon.type" disabled/>
            </div>

            <div class="d:flex fl-dir:row w:10p gap:8 jc:space-between">
                <button class="n-btn n-btn-color:accent n-btn-size:2 min-w:3 w:10p" @click.prevent="deleteCoupon()">삭제</button>
                <button class="n-btn n-btn-size:2 min-w:3 w:10p" @click.prevent="goUpdate(coupon)">수정</button>
            </div>
        </div>
    </section>
</main>
</body>

</html>
