<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/inc/layout">
<head>
  <meta charset="UTF-8">
  <title>기농이네 - 순수한 땅, 순수한 먹거리</title>
  <link rel="stylesheet" href="/css/error/error.css">
</head>
<body>
<main layout:fragment="main" class="d:flex fl-dir:column gap:12 md:gap:16 max-w:9 w:10p pl:4 pr:4 md:pl:0 md:pr:0">
  
  <section class="error d:flex fl-dir:column gap:12 md:gap:16 max-w:9 w:10p pl:4 pr:4 md:pl:0 md:pr:0s">
    
    <section class="d:flex jc:center">
      <h1 class="d:none">에러페이지 이미지</h1>
      <img src="/img/error/500_carrot.png" alt="404 error img">
    </section>
    
    <section class="d:flex fl-dir:column gap:2 ai:center jc:center">
      <h1 class="d:none">에러페이지 안내문구</h1>
      <div class="fs:5">
        서비스에 <span class="color:sub-4">접속할 수 없습니다.</span>
      </div>
      <div>죄송합니다.</div>
      <div>기술적인 문제로 일시적으로 사용이 중단 되었습니다.</div>
      <div>잠시 후에 다시 이용 부탁 드립니다.</div>
    </section>
    
    <section class="d:flex ai:center jc:center gap:1">
      <h1 class="d:none">button 영역</h1>
      <a class="n-btn n-btn:outline fw:3 color:main-6" href="javascript:history.back()">이전</a>
      <a class="n-btn fw:3" href="/index">기농이네 홈</a>
    </section>
  
  </section>

</main>

</body>
</html>