<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/inc/layout">
<head>
  <meta charset="UTF-8">
    <title>기농이네 - 순수한 땅, 순수한 먹거리</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script type="module" src="/js/user/order/list.js" defer></script>
  <link rel="stylesheet" href="/css/user/product/list.css">
</head>
<body>

    <main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:13 max-w:9 w:10p pr:4 pl:4 md:pr:0 md:pl:0">
        <!--  페이지 제목-->
        <nav>
            <h1 class="d:none">탭</h1>
            <ul id='tabbar' class="n-tabbar n-tab-grow w:10p">
                <li :class="{'active' : !tabIndex}"><a href="#" class="h:3 md:h:4" @click="getList(0,true)">주문 내역</a></li>
                <li :class="{'active' : tabIndex}"><a href="#" class="h:3 md:h:4" @click="getList(1,true)">주문 취소 내역</a></li>
            </ul>
        </nav>

        <section class="d:flex jc:center w:10p">
            <h1 class="d:none">검색폼</h1>
            <form class="pos:relative w:10p md:w:8 h:2">
                <input type="text" @keyup.enter="getList" v-model="query" class="n-textbox border-color:main-6 bd-radius:4 pr:1 pl:4" placeholder="검색어를 입력해 주세요">
                <button @click.prevent="getList" class="pos:absolute m-right:1 icon cursor:pointer icon:magnifying_glass icon-size:4 icon-color:base-5" style="top:2px; right:4px;">검색 버튼</button>
            </form>
        </section>
        
        <!-- 주문 내역 카드 -->
        <section id="orderCard" class="d:flex fl-dir:column gap:2 pt:5 pb:5" v-for="l of list">

            <div class="d:flex jc:space-between">
                <div>수령인 : {{l.receiverName}}님</div>
                <div>
                    <span v-if="!tabIndex" ref="statusElement" class="color:sub-5 fw:3 status">{{l.category}}</span>
                    <span v-else="l.cancelId" ref="statusElement" class="d:flex flex-grow:1 jc:right color:sub-5 fw:3 status">취소완료</span>
<!--                    <span v-else-if="l.exchangeId" ref="statusElement" class="d:flex flex-grow:1 jc:right color:sub-5 fw:3 status">교환{{code[l.exchState]}}</span>-->
<!--                    <span v-else ref="statusElement" class="d:flex flex-grow:1 jc:right color:sub-5 fw:3 status">환불{{code[l.rfndState]}}</span>-->
                </div>
            </div>

            <div class="d:flex fl-dir:column bd bd-radius:2 bd-color:base-4 pt:2 pb:2 pr:5 pl:5 gap:3">
                <div class="d:flex fl-dir:row gap:3">
                    <img class="bd-radius:1" :src="`${l.imgPath}/${l.imgName}`" alt="상품 썸네일" width="120px" height="120px">
                    <div class="d:flex fl-dir:column jc:center gap:3 cursor:pointer"  @click="goDetail(l.id)">
                        <div>
                            <span v-if="!l.cancelId" class="fs:2 md:fs:3 color:base-4">{{l.date}} 주문</span>
                            <span v-else class="fs:2 md:fs:3 color:base-4">{{l.cnclDate}} 취소</span>
                        </div>
                        <div class="d:flex fl-dir:row gap:1">
                            <span class="fs:2 md:fs:3">{{ l.prettyName}} </span>
                            <span v-if="l.count > 0">외 {{ l.count}}건</span>
                        </div>
                        <div class="d:flex fl-dlr:row gap:2"  >
                            <span v-if="l.cancelId != null" class="total-price">{{Intl.NumberFormat().format(l.totalAmt)}}원</span>
                            <span v-else class="total-price">{{Intl.NumberFormat().format(l.price)}}원</span>
                            <span class="deco icon:caret_right icon-size:1 deco-position:right ai:center color:base-7 ">
                                상세보기
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d:flex fl-dir:row jc:space-between w:10p gap:2">
                    <button class="n-btn n-btn-type:filled n-btn-size:1 w:3p">1:1 문의</button>
                    <div v-if="!tabIndex" class="n-btn n-btn-type:filled n-btn-size:1 w:3p"><a href="">배송조회</a></div>
                    <button v-if="!tabIndex" :disabled="l.categoryId>4" :class="{'disabled':l.categoryId>4}" class="n-btn n-btn-type:filled n-btn-size:1 w:3p" @click.prevent="confirmOrder(l)">구매확정</button>
                    <button v-else class="n-btn n-btn-type:filled n-btn-size:1 w:3p" @click.prevent="addCart(l)">장바구니 담기</button>
                </div>
                   </div>
        </section>
    </main>
</body>
</html>