<!--============== 사용자 페이지 메인 =================-->

<!--공통 클래스-->
<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:20 max-w:9 w:10p ">

</main>

<!--pc버전 500px인 경우-->
<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:20 max-w:8 w:10p ">

</main>

    <!-- main에서 좌우 간격을 줘야한다면 class에 추가 -->
    pr:4 pl:4 md:pr:0 md:pl:0



<!--============== 페이지명 =================-->
<h1 class="d:none md:d:flex ac:center jc:center ai:center fs:4 fw:3 h:4">페이지명을 적어주세요</h1>


<!--============== 섹션 =================-->
<section class="d:flex fl-dir:column gap:7 md:gap w:10p ">
    <h1> </h1>
</section>

    <!-- 각 section에서 좌우 간격을 줘야한다면 class에 추가 -->
    mr:4 ml:4 md:mr:0 md:ml:0



