<!doctype html>
<html lang="ko">
    <aside class="aside d:none">
        <h1 class="d:none">전체메뉴</h1>
        <ul>
            <li><a href="/admin/product/list">상품관리</a></li>
            <li><a href="/admin/member/list">회원관리</a></li>
            <li><a href="/admin/order/list">주문관리</a></li>
            <li><a href="/admin/coupon/list">쿠폰관리</a></li>
            <li><a href="/admin/point/history/list">적립금관리</a></li>
            <li><a href="/admin/notice/list">공지관리</a></li>
            <li><a href="/admin/inquiry/list">문의관리</a></li>
            <li><a href="/admin/product/list">통계</a></li>
        </ul>

    </aside>
</html>