<!DOCTYPE html>
<html lang="ko">
<footer class="footer bg-color:base-2 md:bg-color:base-1 mt:1 w:10p max-w:10 p:6">
    <section>
        <h1 class="d:none">하단정보</h1>
        <div class="d:flex fl-dir:column gap:1">
            <div class="fs:5 fw:3 mb:2">기농이네</div>
            <div>사업자 번호 : 256-23-01843</div>
            <div>메일 : admin@ginong.co.kr</div>
            <div>생산지 : 전라남도 고흥군</div>
        </div>
        <div class="mt:4 color:base-4 w:10px txt-al:center">ⓒginong.co.kr All Rights Reserved</div>
    </section>
</footer>
</html>