<!DOCTYPE html>
<html lang="ko">
    <nav class="navi d:flex md:d:none w:10p bg-color:base-1 bottom:1 pos:sticky bd-top bd-color:base-2">
        <h1 class="d:none">네비게이션바</h1>
        <ul class="d:flex fl-grow:1 ai:center jc:space-around h:4" >
            <li>
                <a href="/admin/order/list" class="d:flex ai:center fl-dir:column gap:1">
                    <span class="icon icon:calendar_check icon-size:4">아이콘</span>
                    <span class="fs:1">주문관리</span>
                </a>
            </li>
            <li>
                <a href="/admin" class="d:flex ai:center fl-dir:column gap:1">
                    <span class="icon icon:house icon-size:4">아이콘</span>
                    <span class="fs:1">홈</span>
                </a>
            </li>
            <li>
                <a href="/admin/inquiry/list" class="d:flex ai:center fl-dir:column gap:1">
                    <span class="icon icon:phone_call icon-size:4">아이콘</span>
                    <span class="fs:1">문의관리</span>
                </a>
            </li>
        </ul>
    </nav>
</html>