<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/inc/layout-back">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기농이네 관리자</title>
    <link rel="stylesheet" href="/css/admin/product/reg.css">
    <script src="/js/admin/product/reg.js" defer></script>


</head>
<body>
<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:13 max-w:9 w:10p pl:4 pr:4 md:pl:0 md:pr:0 md:pb:4">
    <section class="w:10p" id="reg-form">
        <h1 class="d:none">상품 정보</h1>
        <form method="post" enctype="multipart/form-data" class="n-form:outline-none d:flex fl-dir:column gap:8">
            <div id="category">
                <div class="custom-dropdown">
                    <div class="selected-option selected-option-category icon-size:1 deco deco-pos:right icon:RT deco-size:1 deco-color:main-6"
                         th:text="${prd.categoryId == 1 ? '과채' : (prd.categoryId == 2 ? '앙념' : (prd.categoryId == 3 ? '가공식품' : '카테고리 선택'))}">
                        카테고리 선택
                    </div>
                    <ul class="options option-category-list">
                        <li class="option option-category" data-value="1">과채</li>
                        <li class="option option-category" data-value="2">앙념</li>
                        <li class="option option-category" data-value="3">가공식품</li>
                    </ul>
                </div>
                <input type="hidden" class="selected-category" name="categoryId" value="1" th:value="${prd.categoryId}">
            </div>
            <fieldset class="d:flex fl-dir:column gap:8">
                <legend class="d:none">상품 설명 텍스트</legend>


                <div class="d:flex fl-dir:column gap:2">
                    <span>상품명</span>
                    <input th:value="${prd.name}" type="text" class="n-textbox n-textbox-type:underline" name="name" value="테스트"/>
                </div>
                <div class="d:flex fl-dir:column gap:2">
                    <span>가격</span>
                    <input th:value="${prd.price == 0 ? '' : prd.price}" type="text" class="n-textbox n-textbox-type:underline" name="price" value="22222"/>
                </div>
                <div class="d:flex fl-dir:column gap:2">
                    <div>중량</div>
                    <div class="d:flex fl-dir:row gap:4">
                        <div class="w:10p">
                            <input th:value="${prd.weight == 0 ? '' : prd.weight }" type="text" class="n-textbox n-textbox-type:underline" name="weight" value="33333"/>
                        </div>
                        <div id="weight">
                            <div class="custom-dropdown">
                                <div class="selected-option icon-size:1 selected-option-weight deco deco-pos:right icon:RT deco-size:1 deco-color:main-6" th:text="${prd.weightCategoryId == 1 ? 'g' : (prd.weightCategoryId == 2 ? 'kg' : (prd.weightCategoryId == 3 ? 'g 내외' : (prd.weightCategoryId == 4 ? 'kg 내외' : '중량 선택')))}">
                                    중량 선택
                                </div>
                                <ul class="options option-weight-list">
                                    <li class="option option-weight" data-value="1">g</li>
                                    <li class="option option-weight" data-value="2">kg</li>
                                    <li class="option option-weight" data-value="3">g 내외</li>
                                    <li class="option option-weight" data-value="4">kg 내외</li>
                                </ul>
                            </div>
                            <input th:value="${prd.weightCategoryId}" type="hidden" class="selected-weight" name="weightCategoryId" value="1">
                        </div>
                    </div>
                </div>
                <div class="d:flex fl-dir:column gap:2">
                    <div>개수</div>
                    <div class="d:flex fl-dir:row gap:4">
                        <div class="w:10p">
                            <input th:value="${prd.quantity == 0 ? '' : prd.quantity}" type="text" class="n-textbox n-textbox-type:underline" name="quantity" value="44444"/>
                        </div>
                        <div id="quantity">
                            <div class="custom-dropdown">
                                <div class="selected-option icon-size:1 selected-option-quantity deco deco-pos:right icon:RT deco-size:1 deco-color:main-6"
                                     th:text="${prd.quantityCategoryId == 1 ? '통' : (prd.quantityCategoryId == 2 ? '개' : (prd.quantityCategoryId == 3 ? '봉' : (prd.quantityCategoryId == 4 ? '팩' : '개수 단위 선택')))}"
                                >
                                    개수 단위 선택
                                </div>
                                <ul class="options option-quantity-list">
                                    <li class="option option-quantity" data-value="1">통</li>
                                    <li class="option option-quantity" data-value="2">개</li>
                                    <li class="option option-quantity" data-value="3">봉</li>
                                    <li class="option option-quantity" data-value="4">팩</li>
                                </ul>
                            </div>
                            <input th:value="${prd.quantityCategoryId}" type="hidden" class="selected-quantity" name="quantityCategoryId" value="1">
                        </div>

                    </div>
                </div>
                <div class="d:flex fl-dir:column gap:2">
                    <span>유통기한</span>
                    <div class="input-wrapper">
                        <input th:value="${prd.exp}" type="text" class="n-textbox n-textbox-type:underline" name="exp" value="테스트"/>
                    </div>
                </div>
                <div class="d:flex fl-dir:column gap:2">
                    <div>상품보관유형</div>
                    <div id="storage">
                        <div class="custom-dropdown">

                            <div class="selected-option icon-size:1 selected-option-storage deco deco-pos:right icon:RT deco-size:1 deco-color:main-6"
                                 th:text="${prd.storageTypeId == 1 ? '실온보관' : (prd.storageTypeId == 2 ? '냉장보관' : (prd.storageTypeId == 3 ? '냉동보관' : '보관 유형 선택'))}">
                                보관 유형 선택
                            </div>
                            <ul class="options option-storage-list">
                                <li class="option option-storage" data-value="1">실온보관</li>
                                <li class="option option-storage" data-value="2">냉장보관</li>
                                <li class="option option-storage" data-value="3">냉동보관</li>
                            </ul>
                        </div>
                        <input th:value="${prd.storageTypeId}" type="hidden" class="selected-storage" name="storageTypeId" value="1">
                    </div>
                </div>
                <div class="d:flex fl-dir:column gap:2">
                    <span>상품설명</span>
                    <input th:text="${prd.desc}" type="text" class="n-textbox" name="desc" value="테스트"></input>
                </div>
            </fieldset>
            <div class="d:flex fl-dir:column gap:4">

                <div>
                    <label>
                        <span class="upload n-btn w:10p deco icon:camera deco-size:3 icon-size:3 icon-color:base-1">사진 첨부하기</span>
                        <input class="d:none img-input" name="img-file" type="file" multiple/>
                    </label>
                </div>

                <div class="preview d:flex gap:4 bd bd-color:base-3 box-shadow:1 bd-radius:2" style="height:150px">
                    <!-- 사진 미리보기 들어가는 영역-->
                </div>
            </div>

            <div class="display:flex flex-direction:row gap:4">
                <span class="d:flex ai:center">상태</span>
                <input th:checked="${prd.state}" type="checkbox" class="n-toggle n-toggle-type:slide" name="state"/>
            </div>
            <div class="display:flex flex-direction:row w:10p gap:8">
                <button type="button" class="temp-save n-btn n-btn:outline n-btn-size:2 min-w:3 w:10p">임시저장</button>
                <button type="submit" class="n-btn n-btn-size:2 min-w:3 w:10p">저장</button>
            </div>
        </form>
    </section>
</main>
</body>

</html>
