<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>기농이네 - 순수한 땅, 순수한 먹거리</title>
    <link rel="stylesheet" href="/css/user/index.css">
    <script type="module" src="/js/user/product/list.js" defer></script>
    <script type="module" src="/js/index.js" defer></script>
</head>
<body>
<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:20 max-w:10 w:10p pr:4 pl:4 md:pr:0 md:pl:0 ">

    <!------------------------------------------------모바일------------------------------------------------>
    <section class="recommand-section md:d:none d:flex fl-dir:column gap:4" style="height: 194px">
        <h1 class="d:none ">추천 상품 목록 - 모바일</h1>
        <nav class="w:10p">
            <h1 class="d:none">추천 상품 선택 목록</h1>
            <ul class="w:10p d:flex pl:10 pr:10 fs:3 fw:3 txt-al:center">
                <li @click.prevent="selectProduct('best')" :class="{ 'selected': selectedProduct === 'best' }">
                    <a href="" style="width: 98px; height: 30px">베스트</a></li>
                <li @click.prevent="selectProduct('sale')" :class="{ 'selected': selectedProduct === 'sale' }">
                    <a href="" style="width: 98px; height: 30px">특가</a></li>
                <li @click.prevent="selectProduct('pick')" :class="{ 'selected': selectedProduct === 'pick' }">
                    <a href="" style="width: 98px; height: 30px">추천</a></li>
            </ul>
        </nav>
        <section v-if="selectedProduct === 'best'">
            <h1 class="d:none">베스트 상품 정보</h1>
            <div class="bg-color:base-5 w:10p pos:relative bd-radius:1" style="height: 144px">
                <img class="w:10p h:10p"
                     th:src="${saleProduct.thumbnailPath +'/'+ saleProduct.thumbnailName}"/>
                <div class="w:10p pos:absolute bottom:0 d:flex jc:center ai:center"
                     style="height: 40px; background-color: rgba(51, 51, 51, 0.7);">
                    <span class="color:base-1" th:text="${saleProduct.name + ', ' + saleProduct.quantity + saleProduct.quantityCategory + '(' + saleProduct.weight + saleProduct.weightCategory + ')'}">텃밭 흙 당근, 2개입</span>
                </div>
            </div>
        </section>
        <section v-if="selectedProduct === 'sale'">
            <h1 class="d:none">시즌 아웃 상품 정보</h1>
            <div class="bg-color:base-5 w:10p pos:relative bd-radius:1" style="height: 144px">
                <img class="w:10p h:10p"
                     th:src="${pickProduct.thumbnailPath +'/'+ pickProduct.thumbnailName}" src="/img/carrot.png"/>
                <div class="w:10p pos:absolute bottom:0 d:flex jc:center ai:center"
                     style="height: 40px; background-color: rgba(51, 51, 51, 0.7);">
                    <span class="color:base-1" th:text="${saleProduct.name + ', ' + saleProduct.quantity + saleProduct.quantityCategory + '(' + saleProduct.weight + saleProduct.weightCategory + ')'}">텃밭 흙 당근, 2개입</span>
                </div>
            </div>
        </section>
        <section v-if="selectedProduct === 'pick'">
            <h1 class="d:none">추천 상품 정보</h1>
            <div class="bg-color:base-5 w:10p pos:relative bd-radius:1" style="height: 144px">
                <img class="w:10p h:10p"
                     th:src="@{/img/dang-gun.png}" src="/img/carrot.png"/>
                <div class="w:10p pos:absolute bottom:0 d:flex jc:center ai:center"
                     style="height: 40px; background-color: rgba(51, 51, 51, 0.7);">
                    <span class="color:base-1" th:text="${pickProduct.name + ', ' + pickProduct.quantity + pickProduct.quantityCategory + '(' + pickProduct.weight + pickProduct.weightCategory + ')'}">텃밭 흙 당근, 2개입</span>
                </div>
            </div>
        </section>
    </section>

    <section class="d:none md:d:flex gap:4" style="height: 290px">
        <h1 class="d:none">추천 상품 목록 - PC</h1>
        <section class="d:flex jc:space-between w:10p ">
            <section class="d:flex fl-dir:column ai:center  gap:10">
                <h1 class="fs:5 fw:3">베스트</h1>
                <a href="">
                    <div class="item-card d:flex fl-dir:column pos:relative">
                        <img  th:src="${bestProductList.thumbnailPath +'/'+ bestProductList.thumbnailName}" src="/img/carrot.png" style="width: 360px; height: 180px"/>
                        <div class="w:10p pos:relative bottom:0 bg-color:base-8 d:flex jc:center ai:center" style="height: 40px">
                            <span class="color:base-1 fs:3 opacity:10" th:text="${bestProductList.prettyName}">텃밭 흙당근,</span>
                            <span>&emsp;</span>
                            <span class="color:base-1 fs:3">2개입 2500원</span>
                        </div>
                    </div>
                </a>

            </section>
            <section class="d:flex fl-dir:column ai:center gap:10">
                <h1 class="fs:5 fw:3">특가</h1>
                <a th:href="@{/product/detail(id=${saleProduct.id})}">
                    <div class="item-card d:flex fl-dir:column pos:relative">
                        <img th:src="${saleProduct.thumbnailPath +'/'+ saleProduct.thumbnailName}" src="/img/carrot.png" style="width: 360px; height: 180px"/>
                        <div class="w:10p pos:relative bottom:0 bg-color:base-8 d:flex jc:center ai:center" style="height: 40px">
                            <span class="color:base-1" th:text="${saleProduct.name + ', ' + saleProduct.quantity + saleProduct.quantityCategory + '(' + saleProduct.weight + saleProduct.weightCategory + ')'}">텃밭 흙 당근, 2개입</span>
                        </div>
                    </div>
                </a>
            </section>
            <section class="d:flex fl-dir:column ai:center  gap:10">
                <h1 class="fs:5 fw:3">추천</h1>
                <a th:href="@{/product/detail(id=${pickProduct.id})}">
                    <div class="item-card d:flex fl-dir:column pos:relative">
                        <img th:src="${pickProduct.thumbnailPath +'/'+ pickProduct.thumbnailName}"
                             src="/img/carrot.png" style="width: 360px; height: 180px"/>
                        <div class="w:10p pos:relative bottom:0 bg-color:base-8 d:flex jc:center ai:center" style="height: 40px">
                            <span class="color:base-1" th:text="${pickProduct.name + ', ' + pickProduct.quantity + pickProduct.quantityCategory + '(' + pickProduct.weight + pickProduct.weightCategory + ')'}">텃밭 흙 당근, 2개입</span>
                        </div>
                    </div>
                </a>
            </section>
        </section>
    </section>

    <!--  ###################################################################################################  -->

    <section class="d:flex fl-dir:column gap:4">
        <h1 class="d:none">시즌 아웃 </h1>
        <div class="d:flex p:5 gap:3 fs:3 fw:3 bd-bottom">
            <span class="color:sub-6">놓치지 마세요!</span>
            <span>시즌 아웃 임박</span>
        </div>
        <section class="d:flex fl-wrap:wrap jc:space-between fl:wrap:wrap row-gap:20">
            <h1 class="d:none">상품카드</h1>
            <div th:each="s:${seasonOutList}" class="font-size:3">
                <a th:href="@{/product/detail(id=${s.id})}">
                    <div class="product-card d:flex fl-dir:column w:10p h:10p">
                        <div class="item-card pos:relative">
                            <div>
                                <img th:src="${s.thumbnailPath +'/'+ s.thumbnailName}" src="" height="100%" width="100%" alt="상품 이미지" class="bd-radius:1"/>
                            </div>
                        </div>
                        <div class="d:flex fl-dir:column jc:center gap:2">
                            <div th:text="${s.name + ', ' + s.quantity + s.quantityCategory + '(' + s.weight + s.weightCategory + ')'}">텃밭 흙 당근, 2개입</div>
                            <div th:text="${#numbers.formatInteger(s.price,3,'COMMA') + '원'}" class="fw:3">2,500원</div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </section>

    <section class="d:flex fl-dir:column gap:4">
        <h1 class="d:none">커밍순</h1>
        <div class="d:flex p:5 gap:3 fs:3 fw:3 bd-bottom">
            <span class="color:main-6">갓 수확한 그대로~</span>
            <span>커밍 순</span>
        </div>
        <section class="d:flex fl-wrap:wrap jc:space-between fl:wrap:wrap row-gap:20">
            <h1 class="d:none">상품카드</h1>
            <div th:each="c:${commingSoonList}" class="font-size:3">
<!--                <a th:href="@{/product/detail(id=${c.id})}">-->
                    <div class="product-card d:flex fl-dir:column w:10p h:10p">
                        <div class="item-card pos:relative">
                            <div class="comming-soon-container">
                                <img th:src="${c.thumbnailPath +'/'+ c.thumbnailName}" src="" height="100%" width="100%" alt="상품 이미지" class="bd-radius:1"/>
                            </div>
                            <div class="overlay">
                                <p>Comming Soon</p>
                            </div>
                        </div>
                        <div class="d:flex fl-dir:column jc:center gap:2">
                            <div th:text="${c.name + ', ' + c.quantity + c.quantityCategory + '(' + c.weight + c.weightCategory + ')'}">텃밭 흙 당근, 2개입</div>
                            <div th:text="${#numbers.formatInteger(c.price,3,'COMMA') + '원'}" class="fw:3">2,500원</div>
                        </div>
                    </div>
<!--                </a>-->
            </div>
        </section>
    </section>
    <!--  ###################################################################################################  -->
    <section class="blog-section w:10p h:10p">
        <h1 class="d:none">블로그 정보</h1>
        <div class="h:10p d:flex fl-dir:column pos:relative">
            <img class="w:10p" th:src="@{/img/blog.png}" src="" alt="">
            <a href="https://m.blog.naver.com/PostList.naver?blogId=ran6634&tab=1">
                <div class="w:10p d:flex gap:1 md:gap:4 p:2 md:pt:7 md:pb:7 fl-dir:column ai:center jc:center pos:absolute bottom:0">
                    <span class="color:base-1">무럭무럭 자라는 채소들의 이야기!</span>
                    <span class="color:base-1">농촌 일기 블로그 바로가기 ></span>
                </div>
            </a>
        </div>
    </section>


</main>
</body>
</html>