<!--============== 드롭다운(셀렉트) =================-->
    <!--HTML-->
    <div class="n-dropdown">
        <button type="button" class="dropdown-btn n-btn n-btn:outline w:10p ai:center jc:space-between icon icon:RT icon-size:1 icon-color:main-6 deco-pos:right">
            <span class="fl:fill">아무 것도 선택 되지 않았을 때 나와야 할 문구를 적어주세요</span>
        </button>
        <ul class="dropdown-list w:10p">
            <li class="d:flex jc:space-between p:1" th:each="l : ${list}" th:data-id="${l.id}" th:data-data="${l.data}">
                클릭되었을 때 있어야 할 데이터를 th:data-이용하여 세팅해주세요 ex) id, price, ...etc
            </li>
        </ul>
        <div class="d:none">
            <input type="hidden" name="">
            post 메소드를 통해 컨트롤러로 전달하기 위해
            사용자가 선택한 데이터를 담을 공간입니다.
            클릭된 아이템의 id를 value로 넣게 됩니다.
        </div>
    </div>

    <!--JS-->
    <script>
        let section = document.querySelector(".n-dropdown");        //드롭다운 전체 영역
        let btn = section.querySelector(".dropdown-btn");           //드롭다운 버튼
        let list = section.querySelector(".dropdown-list");         //드롭다운 리스트
        let input = section.querySelector("input[type='hidden']");                //드롭다운 input(hidden)


        //드롭다운 버튼 선택 했을 때(리스트 숨겼다 보여졌다)
        btn.onclick = function (e) {

            list.classList.toggle("active");
        }

        //드롭다운 리스트에서 옵션 하나 선택 했을 때
        list.onclick = function (e) {

            //선택한 옵션 값 보여주기
            btn.textContent = e.target.textContent;

            //input에 값 넣어주기
            input.value = e.target.dataset.id  // 필요한 값 dataset으로 꺼내옴

            //리스트 숨기기
            list.classList.remove("active");
        }
    </script>


<html>

<!--모바일 제목 navi영역-->
<section>
    <h1 class="d:none">navi 영역</h1>
    <div class="n-item n-item-type:underline bd-color:main-6 fs:4 txt-al:center fw:bold">회원가입</div>
</section>


</html>





