<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기농이네 관리자</title>
    <script type="module" src="/js/admin/stock/list.js" defer></script>
</head>
<body>
<main layout:fragment="main" class=" d:flex fl-dir:column gap:8 md:gap:13 max-w:9 w:10p pt:8 md:pt:13  pr:4 pl:4 md:pr:0 md:pl:0 ">

    <section class="d:flex jc:center w:10p">
        <h1 class="d:none">검색폼</h1>
        <form class="pos:relative w:10p md:w:8 h:2">
            <input type="text" @keyup.enter="getList" v-model="query" class="n-textbox border-color:main-6 bd-radius:4 pr:1 pl:4" placeholder="검색어를 입력해 주세요">
            <button @click.prevent="getList" class="pos:absolute m-right:1 icon cursor:pointer icon:magnifying_glass icon-size:4 icon-color:base-5" style="top:2px; right:4px;">검색 버튼</button>
        </form>
    </section>

    <div class="pos:relative d:flex gap:3">
        <a @click.prevent="amountHandler" href="" :class="{'icon:arrow_up' :amount, 'icon:arrow_down':!amount , 'color:main-6 icon-color:main-6':amount!=null}"  class="deco deco-pos:right icon:arrow_down icon-size:1 deco-size:1">재고순</a>
        <span class="bar"></span>
        <a @click.prevent="currentHandler" href="" :class="{'color:main-6' : current }">최신순</a>
    </div>

    <table class="n-table n-table-hover n-table-border:bottom txt-al:center" >
        <thead class="bg-color:base-3 txt-al:center">
        <tr>
            <th scope="col" class="w:auto txt-al:center">상품명</th>
            <th scope="col" class="txt-al:center w:3">재고</th>
            <th scope="col" class="d:none md:d:table-cell txt-al:center w:3">단위</th>
            <th scope="col" class="d:none md:d:table-cell txt-al:center w:4">중량</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="s in list" @click="move(s.productId)">
            <th scope="row" class="w:auto" v-text="s.name">텃밭 흙당근</th>
            <td class="txt-al:center w:3" v-text="s.currentAmount">300</td>
            <td class="d:none md:d:table-cell txt-al:center w:3" v-text="s.quantity + s.quantityCategoryName" >3~4개</td>
            <td class="d:none md:d:table-cell txt-al:center w:4" v-text="s.weight + s.weightCategoryName">400g 내외</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
