<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기농이네 관리자</title>
    <script type="module" src="/js/admin/stock/detail.js" defer></script>
</head>

</head>
<body>
<main layout:fragment="main" class="d:flex fl-dir:column gap:8 md:gap:13 max-w:10 w:10p pt:8 md:pt:13  pr:4 pl:4 md:pr:0 md:pl:0 ">
    <h1 th:text="${prd.prettyName}" class="txt-al:center fs:3 md:fs:4 fw:3">텃밭 흙 당근</h1>
    <div class="d:flex jc:space-between ai:center">
        <div class="fw:3">현재 재고 : <span th:text="${list==null? 0 + prd.quantityCategory :list[0].currentAmount + prd.quantityCategory}">100</span> </div>
        <div class="d:flex gap:2">
            <div><button form="delete" class="n-btn n-btn-color:accent" th:disabled="${list==null}">삭제</button></div>
            <div class="n-btn"><a th:href="@{reg(p=${list[0].productId})}">등록</a></div>
        </div>
    </div>
    <form id="delete" method="post" action="delete">
        <table class="n-table n-table-hover n-table-border:bottom txt-al:center" >
            <thead class="bg-color:base-3 txt-al:center">
            <tr>
                <th scope="col" class="txt-al:center w:1" >
                    <input type="checkbox" class="all n-toggle n-toggle-type:check n-toggle-size:1"/></th>
                <th scope="col" class="txt-al:center md:w:4" style="width: 100px">입고</th>
                <th scope="col" class="txt-al:center md:w:4" style="width: 100px">출고</th>
                <th scope="col" class="d:none md:d:table-cell txt-al:center w:4">사유</th>
                <th scope="col" class="d:none md:d:table-cell w:auto txt-al:center">비고</th>
                <th scope="col" class="txt-al:center" style="width: 160px">입출고일</th>
                <th scope="col" class="d:none md:d:table-cell txt-al:center" style="width: 160px">수확일</th>
                <th scope="col" class="d:none md:d:table-cell txt-al:center" style="width: 160px">등록일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s : ${list}" th:data-id="${s.stockId}">
                <th scope="row" class="input txt-al:center w:1">
                    <input type="checkbox" name="id" th:value="${s.stockId}" class="all n-toggle n-toggle-type:check n-toggle-size:1"/></th>
                <th th:text="${s.plma==1? s.amount:''}" class="txt-al:center md:w:4" style="width: 100px">300</th>
                <td th:text="${s.plma==-1? s.amount:''}" class="txt-al:center md:w:4" style="width: 100px"></td>
                <td th:text="${s.stockCategoryName}" class="d:none md:d:table-cell txt-al:center w:4">입고</td>
                <td th:text="${s.desc}" class="d:none md:d:table-cell w:auto">비고</td>
                <td th:text="${#dates.format(s.ioDate, 'yy-MM-dd')}" class="txt-al:center" style="width: 160px">24-05-04</td>
                <td th:text="${#dates.format(s.madeDate, 'yy-MM-dd')}" class="d:none md:d:table-cell txt-al:center" style="width: 160px">24-05-04</td>
                <td th:text="${#dates.format(s.regDate, 'yy-MM-dd')}" class="d:none md:d:table-cell txt-al:center" style="width: 160px">24-05-04</td>
            </tr>
            <tr th:if="${list==null}">
                <td colspan="8" class="txt-al:center">재고 내역이 없습니다.</td>
            </tr>
            </tbody>
        </table>
        <div class="d:none"><input type="hidden" name="prdId" th:value="${prd.id}"></div>
    </form>
</main>
</body>
</html>
